@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  font-family: 'Recursive', sans-serif;
  color: #c4bbbb;
}

.main {
  max-width: 500px;
  border-radius: 15px;
  background-color: #357eb5;
}

.header {
  background-color: #32404b;
  padding: 10px;
  font-size: 26px;
  border-radius: 15px;
}
.search-div {
  background-color: #32404b;
  padding: 10px;
  font-size: 26px;
  border-radius: 15px;
}

.day {
  padding: 15px;
  font-size: 24px;
  font-weight: 500;
}
.description {
  padding: 15px;
  font-size: 24px;
  font-weight: 500;
  text-align: right;
}

.weatherCat {
  padding: 15px;
  font-size: 18px;
}

.sun {
  padding: 15px;
  font-size: 16px;
}

.flex {
  display: flex;
}

.button {
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.searchbar {
  width: 200px;
  height: 30px ;
  font-size: 16px;
  border-radius: 15px;
}
